 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #111;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    height: 80px;
    padding: 0 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: #00d5ff;
    text-shadow: #00d5ff 0px 0px 10px;
}

header nav a {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav a::after{
content:'';
position: absolute; 
left: 0;
bottom:0;
width: 0;
height: 2px;
background-color:#00f7ff ;
transition: width 0.3s ease;
}

header nav a:hover::after{
width: 100%;
    
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    text-align: center;
    margin-top: 60px;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button {
    background-color: #00d5ff;
    color: #000;
    border: none;
    padding: 12px 28px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.produtos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    padding: 0 40px;
    flex-wrap: wrap;
}

.produto {
    background-color: #1b1b1b;
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h3 {
    margin: 15px 0 5px;
    font-size: 22px;
}

.produto p {
    color: #ccc;
    margin-bottom: 15px;
}

.produto button {
    background-color: #00d5ff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}